@font-face {
  font-family: roboto;
  src: url("../src/assets/fonts/RobotoSlab-VariableFont_wght.ttf");
}

.OrangeBG {
  color: white;
  background-color: #ffca41;
}
h2,
h3,
h4,
p,
a {
  font-family: roboto;
}
h2 {
  font-size: 2.2rem;
  color: #333333;
  font-weight: 400;
}

h3 {
  color: #ffca41;
  font-size: 1.2rem;
}

h4 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  margin-bottom: 20px;
  font-weight: 400;
}

p {
  font-size: 1rem;
}
